<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.qtproject.example.smartglasses_android_app">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:requestLegacyExternalStorage="true" />
</manifest>
